body{background-color: #B0E0E6;}

header ,footer{
    background-color: #191970;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#submit{
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 15px;
}

#reset{
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 15px;
}